//Fonts
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap');

//Variables
$imagepath: "./images/";
$titlefont: 'VT323',
monospace;

$subtitlefont: 'IBM Plex Mono',
monospace;


html,
body,
.home {
    padding: 0;
    margin: 0;
    width: 100%;
    scroll-behavior: smooth;
}

.hero {
    height: 20vh;
    border: 1px solid #43FF56;
}

.header {
    display: flex;
    flex-direction: row;
    height: 70%;
    justify-content: space-between;
    align-items: center;
}

.sideimage1, .sideimage2 {
    width: 20%;
    height: 100%;
}

#sideimage{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.site-title {
    font-family: $titlefont;
    font-size: 45px;
    text-transform: uppercase;
}

.navigation {
    height: 30%;
    display: flex;
    flex-direction: row;
    font-family: $subtitlefont;
    text-align: center;
    justify-content: center;
}

.menuitem{
    padding: 8px;
    cursor: pointer;
}

.menuitem:hover{
    color: #43FF56;
    transition: 0.3s;
}

.site-info{
    font-family: $subtitlefont;
    text-align: center;
    padding: 10px;
    height: 10vh;
    display: flex;
    justify-content: center;
}

//Feature card
.featured-blog-card{
    height: 60vh;
    display: flex;
    flex-direction: row;
}


.featured-blog-media {
    width: 60%;
}

.featured-blog-content {
    width: 40%;
}

.featured-image {
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #43FF56;
}

#blogheader {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featured-blog-content {
    padding: 8px;
    font-family: $subtitlefont;
    text-align: right;
}

.featured-blog-title {
    font-weight: 500;
    font-size: 30px;
    margin-right: 8%;
    cursor: pointer;
}

.featured-blog-title:hover{
    color: #43FF56;
    transition: 0.3s;
}

.featured-blog-metadata {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    margin-bottom: 5%;
}

.author-image{
    width: 15%;
}

.author-name{
    width: 85%;
}

#authorimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.featured-blog-author{
    width: 40%;
    display: flex;
    align-items: center;
}
.featured-blog-date{
    width: 30%;
    margin-left: 5%;
}
.featured-blog-category{
    width: 10%;
    margin-left: 5%;
}

.featured-blog-details{
    margin-right: 8%;
    line-height: 2em;
}

//Trending card

.trending-blogs{
    display: flex;
    flex-direction: row;
    height: 30vh;
    align-content: center;
    justify-content: space-around;
}

.trending-blog-card {
    display: flex;
    flex-direction: column;
    width: 20%;
    
}

.trending-blog-media{
    width: 100%;
}

#blogheader{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trending-blog-title{
    text-align: center;
    font-family: $subtitlefont;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
}

.trending-blog-title:hover {
    color: #43FF56;
    transition: 0.3s;
}

.trending-blog-metadata{
    display: flex;
    flex-direction: row;
}